*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}

.container{
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}

body {
    background-color: #0028ca7c;
}

ul,
li{
    list-style: none;
}

.title-section{
    padding: 20px;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    position: absolute;
    color: white;
    text-shadow: black 2px 5px;
}

button{
    padding: 5px;
    margin-left: 10px;
}

.item {
    background-color: #FFF7AF;
    border-radius: 20px;
    padding: 70px;
    margin: 30px;
    min-height: 355px;
}

.task {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.task-completed {
    text-decoration: line-through;
}

.d-none{
    display: none;
}

.remove-icon{
    border: 1px solid black;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    padding: 1px;
}

.add-btn{
    background-color: #4DBA87;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.add-bar{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 50%;

}

.task-header{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 50px;
}

.task-header img{
    max-width: 15%;
}